@font-face {
    font-family: "app-icons";
    src: url("./app-icons.woff2?85359ec312393ef132fe393ec4945e2d") format("woff2"),
url("./app-icons.woff?85359ec312393ef132fe393ec4945e2d") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: app-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\f101";
}
.icon-phone-bg:before {
    content: "\f102";
}
.icon-map:before {
    content: "\f103";
}
.icon-mail:before {
    content: "\f104";
}
.icon-email:before {
    content: "\f105";
}
.icon-arrow-right:before {
    content: "\f106";
}
.icon-arrow-down:before {
    content: "\f107";
}
